<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <!-- カメラパーミッション -->
  <uses-permission android:name="android.permission.CAMERA"/>
  
  <!-- カメラ機能の宣言（必須ではないがGoogle Playでのフィルタリングに使用） -->
  <uses-feature android:name="android.hardware.camera" android:required="false"/>
  <uses-feature android:name="android.hardware.camera.autofocus" android:required="false"/>
</manifest>
